In [42]:
import numpy as np 
import pandas as pd

In [43]:
interns = pd.read_csv("internship.csv")

In [44]:
interns.head(2)

,internship_title,company_name,location,start_date,duration,stipend
0,Java Development,SunbaseData,Work From Home,Immediately,6 Months,"₹ 30,000 /month"
1,Accounting and Finance,DAKSM & Co. LLP,Noida,Immediately,6 Months,"₹ 5,000-10,000 /month"

In [45]:
interns.shape

(6485, 6)

In [46]:
import nltk
from nltk.stem import PorterStemmer

In [47]:
ps = PorterStemmer()

In [48]:
def stems(text):
    T = []
    
    for i in text.split():
        T.append(ps.stem(i))
    
    return " ".join(T)

In [49]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [50]:
interns['tags']=interns['internship_title']+interns['company_name']+interns['location']+interns['start_date']+interns['duration']+interns['stipend']

In [51]:
vector = cv.fit_transform(interns['tags']).toarray()

In [52]:
vector[0]

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [53]:
vector.shape

(6485, 5000)

In [54]:
vector.shape

(6485, 5000)

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

In [56]:
similarity = cosine_similarity(vector)

In [57]:
similarity.shape

(6485, 6485)

In [58]:
interns[interns['internship_title'] == 'Accounting and Finance'].index[0]

1

In [59]:
L2 =[]

def recommend(internship):
    index = interns[interns['internship_title'] == internship].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
 
    for i in distances[1:6]:
        L2.append(interns.iloc[i[0]].internship_title)
    return L2

In [60]:

a = input("Please enter the role in which you already have internship experience: ")

recommend(a)

print(L2)

Please enter the role in which you already have internship experience: Graphic Design
['Graphic Design', 'Graphic Design', 'Sales', 'Graphic Design', 'Graphic Design']

In [61]:
import pickle

In [63]:
pickle.dump(similarity,open('similarity.pkl','wb'))