In [1]:
def rem(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [2]:
# Import necessary libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

import pickle

# Load data containing skills, industries, companies, and popularity scores
df = pd.read_csv('skills_data.csv')

In [3]:
def merge_skills_and_companies(df):
    # Iterate through each row
    for index, row in df.iterrows():
        # Remove spaces and then merge all elements in the Skill column for the current row
        merged_skill = ''.join(row['Skill']).replace(' ', '')
        # Replace the Skill column value with the merged string
        df.at[index, 'Skill'] = merged_skill
        
        # Remove spaces and then merge all elements in the Companies column for the current row
        merged_companies = ''.join(row['Companies']).replace(' ', '')
        # Replace the Companies column value with the merged string
        df.at[index, 'Companies'] = merged_companies
        
    return df

# Assuming 'df' is your DataFrame containing the data
# Call the function to merge the skills and companies
merged_df = merge_skills_and_companies(df)

In [4]:
df.head()

,Skill,Companies,Popularity Index
0,PythonProgramming,"ABCCorp,XYZInc,TechSolutions,DataCo.",85
1,DataAnalysis,"ABCCorp,DataCo.,TechSolutions,AnalyticsLLC",78
2,MachineLearning,"XYZInc,TechSolutions,DataCo.,AnalyticsLLC",90
3,JavaDevelopment,"ABCCorp,TechSolutions,WebCo.,XYZInc",75
4,WebDevelopment,"XYZInc,WebCo.,TechSolutions,ABCCorp",80

In [5]:

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [6]:
vector = cv.fit_transform(df['Companies']).toarray()

In [7]:
vector[0]

array([1, 0, 0, 1, 1, 0, 1], dtype=int64)

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
sim = cosine_similarity(vector)

In [10]:
L2= []

def recommend(movie):
    index = df[df['Skill'] == movie].index[0]  # Assuming 'df' is your DataFrame containing the data
    distances = sorted(enumerate(sim[index]), reverse=True, key=lambda x: x[1])
    
    # Sort distances based on popularity index of recommended skills
    distances = sorted(distances[1:6], key=lambda x: df.iloc[x[0]]['Popularity Index'], reverse=True)
    
    for i in distances:
        L2.append(df.iloc[i[0]]['Skill'])  # Print the recommended skills
        
    return L2

# Call the function with a skill title
a = input("Please enter the skill: ")
recommend(a)  # Replace 'Python' with the skill you want recommendations for

print(L2)

Please enter the skill: PythonProgramming
['MachineLearning', 'WebDevelopment', 'DataAnalysis', 'JavaDevelopment', 'NaturalLanguageProcessing']

In [11]:
pickle.dump(sim,open('similarity.pkl','wb'))